@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="text-start">
        <h1 class="display-4">Informacion de proyectores</h1>
        <h2 class="display-6"> Proyector # @ViewData["id"] </h2>
        <p>Marca: @ViewData["Marca"]</p>
        <p>Modelo: @ViewData["Modelo"]</p>
        <p>Numero: de serie @ViewData["Numero de Serie"]</p>
        <p>Situacion: @ViewData["Situacion"]</p>
        <p>Fecha de alta: @ViewData["FechaAlta"]</p>
    </div>
</div>
