@using WebApp Model
@Model Proyector
@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="text-start">
        <h1 class="display-4">Informacion de proyectores</h1>
        <h2 class="display-6"> Proyector # @Model.id </h2>
        <p>Marca: @Model.Marca</p>
        <p>Modelo: @Model.Modelo</p>
        <p>Numero: de serie @Model.NumeroDeSerie</p>
        <p>Situacion: @Model.Situacion</p>
        <p>Fecha de alta: @Model.FechDeAlta.ToString("d")</p>
    </div>
</div>
