@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <div class="text-start">
        <h1 class="display-4">Informacion de proyectores</h1>
        <h2 class="display-6"> Proyector # @ViewBag.id </h2>
        <p>Marca: @ViewBag.Marca</p>
        <p>Modelo: @ViewBag.Modelo</p>
        <p>Numero: de serie @ViewBag.Numero_de_Serie</p>
        <p>Situacion: @ViewBag.Situacion</p>
        <p>Fecha de alta: @ViewBag.FechaAlta</p>
    </div>
</div>
